In [1]:
import pandas as pd
import numpy as np
import collections

In [2]:
df= pd.read_csv("bike-sharing.csv")
df.head()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [3]:
#Qual o tamanho desse dataset?
df.shape

(17379, 17)

In [4]:
#Qual a média da coluna windspeed?
df['windspeed'].mean()

0.19009760630646177

In [5]:
#Qual a média da coluna temp?
df['temp'].mean()

0.4969871684216583

In [17]:
#Quantos registros existem para o ano de 2011?
ano_2011 =df.loc[df['year']==0]
ano_2011.shape

(8645, 17)

In [11]:
#Quantas locações de bicicletas foram efetuadas em 2011? 
print(ano_2011['total_count'].sum())

1243103

In [16]:
#Quantos registros existem para o ano de 2012?
ano_2012= df.loc[df['year']==1]
ano_2012.shape

(8734, 17)

In [49]:
#Quantas locações de bicicletas foram efetuadas em 2012? 
print(ano_2012['total_count'].sum())

2049576

In [50]:
# Qual estação do ano contém a maior média de locações de bicicletas?
df_inverno= df.loc[df['season']==1]
print('Média inverno:',df_inverno['total_count'].mean())

df_primavera= df.loc[df['season']==2]
print('Média primavera:',df_primavera['total_count'].mean())

df_verao= df.loc[df['season']==3]
print('Média verao:',df_verao['total_count'].mean())

df_outono= df.loc[df['season']==4]
print('Média outono:',df_outono['total_count'].mean())

Média inverno: 111.11456859971712
Média primavera: 208.34406894987526
Média verao: 236.01623665480426
Média outono: 198.86885633270322

In [41]:
#Qual horário do dia contém a maior média de locações de bicicletas?
df_horas= df.filter(items=['total_count','hour'])

media_hora={}

for horas in range(0,24):
    df_filtro= df_horas.loc[df['hour']== horas]
    media= df_filtro['total_count'].mean()
    media_hora.update({horas : media})

sorted_media= sorted(media_hora.items(), key=lambda x: x[1], reverse=True)
print(sorted_media)

[(17, 461.45205479452056), (18, 425.510989010989), (8, 359.01100412654745), (16, 311.9835616438356), (19, 311.52335164835165), (13, 253.66117969821673), (12, 253.31593406593407), (15, 251.2331961591221), (14, 240.94924554183814), (20, 226.03021978021977), (9, 219.30949105914718), (7, 212.0646492434663), (11, 208.1430536451169), (10, 173.6685006877579), (21, 172.31456043956044), (22, 131.33516483516485), (23, 87.83104395604396), (6, 76.04413793103448), (0, 53.89807162534435), (1, 33.3756906077348), (2, 22.86993006993007), (5, 19.88981868898187), (3, 11.727403156384504), (4, 6.352941176470588)]

In [40]:
df_horas= df.filter(items=['total_count','hour'])
df_filtro= df_horas.loc[df['hour']==1]
df_filtro
#print(df_filtro['total_count'].mean())

       total_count  hour
1               40     1
25              17     1
48               2     1
70               2     1
93               6     1
...            ...   ...
17260            5     1
17284            9     1
17308           37     1
17332           28     1
17356           19     1

[724 rows x 2 columns]

In [42]:
#Que dia da semana contém a maior média de locações de bicicletas?

df_dia= df.filter(items=['total_count','weekday'])
media_dia={}

for dia in range(0,7):
    df_filtro= df_dia.loc[df['weekday']== dia]
    media_dia.update({dia : df_filtro['total_count'].mean()})

sorted_dia= sorted(media_dia.items(), key=lambda x: x[1], reverse=True)
print(sorted_dia)

#weekday: dia da semana (0: domingo, 1: segunda-feira, ..., 6: sábado);
#maior: segunda
#menor: terça

[(4, 196.43666531768514), (5, 196.13590671491758), (2, 191.23889115368937), (3, 191.13050505050506), (6, 190.20979299363057), (1, 183.74465510286404), (0, 177.46882494004797)]

In [46]:
#Às quartas-feiras (weekday = 3), qual o horário do dia que contém a maior média de locações de bicicletas?

df_quarta= df.filter(items=['total_count','hour','weekday'])
df_quarta_novo= df_quarta.loc[df_quarta['weekday']==3]

for horas in range(0,24):
    df_filtro= df_quarta_novo.loc[df['hour']== horas]
    #df_filtro= df_quarta_novo.filter(like= str(horas), axis= 0)
    media_hora.update({horas : df_filtro['total_count'].mean()})

sorted_media= sorted(media_hora.items(), key=lambda x: x[1], reverse=True)
print(sorted_media)

[(17, 513.1442307692307), (18, 494.02912621359224), (8, 488.3269230769231), (19, 357.50485436893206), (7, 303.9807692307692), (16, 272.96153846153845), (20, 256.6601941747573), (9, 238.52884615384616), (21, 194.66990291262135), (12, 193.90384615384616), (13, 185.82692307692307), (15, 181.28846153846155), (14, 170.54807692307693), (11, 152.20192307692307), (22, 143.6893203883495), (10, 131.89423076923077), (6, 107.8076923076923), (23, 83.7378640776699), (0, 34.55769230769231), (5, 25.75), (1, 15.336538461538462), (2, 7.813725490196078), (4, 4.96875), (3, 4.888888888888889)]

In [48]:
#Aos sábados (weekday = 6), qual o horário do dia que contém a maior média de locações de bicicletas?

df_sabado= df.filter(items=['total_count','hour','weekday'])
df_sabado_novo= df_sabado.loc[df_sabado['weekday']==6]

for horas in range(0,24):
    df_filtro_sab= df_sabado_novo.loc[df['hour']== horas]
    #df_filtro_sab= df_sabado_novo.filter(like= str(horas), axis= 0)
    media_hora.update({horas : df_filtro_sab['total_count'].mean()})

sabado= sorted(media_hora.items(), key=lambda x: x[1], reverse=True)
print(sabado)

[(13, 385.37142857142857), (15, 382.42857142857144), (14, 381.3333333333333), (12, 375.3809523809524), (16, 366.14285714285717), (17, 334.4095238095238), (11, 328.6095238095238), (18, 292.0480769230769), (10, 263.7238095238095), (19, 239.93269230769232), (9, 186.7904761904762), (20, 180.8653846153846), (21, 156.0), (22, 139.66346153846155), (23, 115.85576923076923), (8, 114.47619047619048), (0, 94.3047619047619), (1, 67.78095238095239), (2, 50.49523809523809), (7, 45.96190476190476), (3, 22.885714285714286), (6, 21.0), (5, 8.29126213592233), (4, 7.6571428571428575)]