In [41]:
import pandas as pd
import numpy as np
import collections

In [3]:
df= pd.read_csv("bike-sharing.csv")
df.head()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [4]:
#Qual o tamanho desse dataset?
df.shape

(17379, 17)

In [5]:
#Qual a média da coluna windspeed?
df['windspeed'].mean()

0.19009760630646177

In [6]:
#Qual a média da coluna temp?
df['temp'].mean()

0.4969871684216583

In [7]:
#Quantos registros existem para o ano de 2011?
df.loc[df['year']==0]

#Quantas locações de bicicletas foram efetuadas em 2011? => rec_id= 8645

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8640,2011-12-31,8641,1,0,12,19,0,6,0,1,0.42,0.4242,0.54,0.2239,19,73,92
8641,2011-12-31,8642,1,0,12,20,0,6,0,1,0.42,0.4242,0.54,0.2239,8,63,71
8642,2011-12-31,8643,1,0,12,21,0,6,0,1,0.40,0.4091,0.58,0.1940,2,50,52
8643,2011-12-31,8644,1,0,12,22,0,6,0,1,0.38,0.3939,0.62,0.1343,2,36,38
8644,2011-12-31,8645,1,0,12,23,0,6,0,1,0.36,0.3788,0.66,0.0000,4,27,31

In [8]:
#Quantos registros existem para o ano de 2012?
df.loc[df['year']==1]

#Quantas locações de bicicletas foram efetuadas em 2012? rec_id= 17379

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
8645,2012-01-01,8646,1,1,1,0,0,0,0,1,0.36,0.3788,0.66,0.0000,5,43,48
8646,2012-01-01,8647,1,1,1,1,0,0,0,1,0.36,0.3485,0.66,0.1343,15,78,93
8647,2012-01-01,8648,1,1,1,2,0,0,0,1,0.32,0.3485,0.76,0.0000,16,59,75
8648,2012-01-01,8649,1,1,1,3,0,0,0,1,0.30,0.3333,0.81,0.0000,11,41,52
8649,2012-01-01,8650,1,1,1,4,0,0,0,1,0.28,0.3030,0.81,0.0896,0,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31,17375,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,2012-12-31,17376,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,2012-12-31,17377,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,2012-12-31,17378,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,2012-12-31,17379,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [9]:
# Qual estação do ano contém a maior média de locações de bicicletas?
df_inverno= df.loc[df['season']==1]
print('Média inverno:',df_inverno['rec_id'].mean())

df_primavera= df.loc[df['season']==2]
print('Média primavera:',df_primavera['rec_id'].mean())

df_verao= df.loc[df['season']==1]
print('Média verao:',df_verao['rec_id'].mean())

df_outono= df.loc[df['season']==1]
print('Média outono:',df_outono['rec_id'].mean())

Média inverno: 6302.008015087223
Média primavera: 7287.727375822182
Média verao: 6302.008015087223
Média outono: 6302.008015087223

In [46]:
#Qual horário do dia contém a maior média de locações de bicicletas?
df_horas= df.filter(items=['rec_id','hour'])

media_hora={}

for horas in range(0,24):
    df_filtro= df_horas.filter(like= str(horas), axis= 0)
    media= df_filtro['rec_id'].mean()
    media_hora.update({horas : media})

sorted_media= sorted(media_hora.items(), key=lambda x: x[1], reverse=True)
print(sorted_media)

[(16, 13419.640339425587), (15, 12765.813968668408), (14, 12111.987597911228), (17, 11647.839694656488), (13, 11458.161227154047), (12, 10804.334856396867), (1, 10665.60482529118), (11, 10158.275764036958), (10, 9496.682114882506), (6, 9350.851604495847), (5, 9091.320899169246), (0, 9038.501388631736), (7, 9012.129133858267), (9, 8858.391666666666), (4, 8831.790193842646), (8, 8698.302906869098), (3, 8659.930333817127), (2, 8429.16077170418), (23, 8219.416666666666), (22, 8194.317829457364), (21, 8140.532608695652), (20, 8101.090579710145), (19, 8061.648550724638), (18, 8022.20652173913)]

In [48]:
#Que dia da semana contém a maior média de locações de bicicletas?

df_dia= df.filter(items=['rec_id','weekday'])
media_dia={}

for dia in range(0,7):
    df_filtro= df_dia.filter(like= str(dia), axis= 0)
    media_dia.update({dia : df_filtro['rec_id'].mean()})

sorted_dia= sorted(media_dia.items(), key=lambda x: x[1], reverse=True)
print(sorted_dia)

#weekday: dia da semana (0: domingo, 1: segunda-feira, ..., 6: sábado);
#maior: segunda
#menor: terça

[(1, 10665.60482529118), (6, 9350.851604495847), (5, 9091.320899169246), (0, 9038.501388631736), (4, 8831.790193842646), (3, 8659.930333817127), (2, 8429.16077170418)]

In [52]:
#Às quartas-feiras (weekday = 3), qual o horário do dia que contém a maior média de locações de bicicletas?

df_quarta= df.filter(items=['rec_id','hour','weekday'])
df_quarta_novo= df_quarta.loc[df_quarta['weekday']==3]

for horas in range(0,24):
    df_filtro= df_quarta_novo.filter(like= str(horas), axis= 0)
    media_hora.update({horas : df_filtro['rec_id'].mean()})

sorted_media= sorted(media_hora.items(), key=lambda x: x[1], reverse=True)
print(sorted_media)

[(16, 14468.08988764045), (14, 13399.36898395722), (15, 12740.803738317756), (17, 12303.37614678899), (13, 11284.767676767677), (1, 10825.46540027137), (11, 10732.327683615818), (12, 10728.769953051644), (9, 9727.245901639344), (6, 9655.401041666666), (4, 9402.125598086124), (10, 9247.661157024793), (5, 9208.197686645637), (7, 8927.117647058823), (0, 8911.08306364617), (23, 8670.895652173913), (2, 8508.424273858922), (3, 8250.705677867903), (8, 8107.032167832168), (22, 8058.470085470086), (19, 7917.079365079365), (20, 5828.186440677966), (18, 5428.076923076923), (21, 5365.8932038834955)]

In [56]:
#Aos sábados (weekday = 6), qual o horário do dia que contém a maior média de locações de bicicletas?

df_sabado= df.filter(items=['rec_id','hour','weekday'])
df_sabado_novo= df_sabado.loc[df_sabado['weekday']==6]

for horas in range(0,24):
    df_filtro_sab= df_sabado_novo.filter(like= str(horas), axis= 0)
    media_hora.update({horas : df_filtro_sab['rec_id'].mean()})

sabado= sorted(media_hora.items(), key=lambda x: x[1], reverse=True)
print(sabado)

[(15, 14309.64705882353), (16, 13327.173228346457), (14, 12047.095940959409), (13, 11625.751004016065), (17, 10825.047619047618), (1, 10566.737974683545), (23, 10436.595744680852), (18, 9823.85), (5, 9681.892223738063), (8, 9516.34552332913), (12, 9297.03422053232), (10, 9289.629441624365), (0, 9183.822934232716), (6, 9160.189378757515), (3, 9073.907534246575), (11, 8956.262711864407), (4, 8816.147843942505), (7, 8436.674807197944), (21, 8389.15625), (9, 8342.259860788863), (2, 7607.930394431554), (19, 7443.890410958904), (20, 6902.617647058823), (22, 5595.734693877551)]